.carport-maker-progress {
    background: white;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100vw;
    height: 100%;
    min-height: 5vh;
    justify-content: right;
    font-size: clamp(0.3rem, 2vw, 0.7rem);
    align-items: center;
    border-bottom: 2px solid #e0e8f0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.progress-steps {
    color: #013d7a;
    font-family: "Playfair Display";
    display: grid;
    margin-right: 25px;
    font-size: clamp(0.6rem, 2vw, 1.6rem);
    text-decoration: none;
    font-weight: bold;
}

.progress-steps:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #2783e1;
}

#progress-step-1, #progress-step-5{
    justify-self: left;
    margin-right: auto;
    margin-left: 25px;
    font-size: clamp(0.8rem, 2vw, 2rem);
}


/* ===== HEADER STATE ======*/
.header-state-active {
    color: #2783e1; !important;
    text-decoration: underline !important;
}

.hidden{
    display: none;
}