<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: adminHead(' admin order details')}"></head>

<body>
<div th:replace="~{fragments :: adminHeader ('admin header')}"></div>

<div class="order-details-overview">
    <div class="order-header">

        <a th:href="@{/adminProfilePage}">
            <svg class="admin-return-button" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"
                 fill="none">
                <path class="admin-return-svg" d="M17.3333 10.6667L8 18.6667L17.3333 28" stroke="black"
                      stroke-width="9.25"
                      stroke-linecap="round" stroke-linejoin="round"/>
                <path class="admin-return-svg"
                      d="M8 18.6667H38.6587C47.836 18.6667 55.6293 26.16 55.9867 35.3333C56.3653 45.0267 48.356 53.3333 38.6587 53.3333H15.9973"
                      stroke="black" stroke-width="9.25" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
        <h1 class="order-details-title">Admin Ordre oversigt</h1>
    </div>

    <div class="order-details-box">
        <h1 class="order-detail-info-box">Ordre ID: 2</h1>
        <h1 class="order-detail-info-box">Kunde: Jens Jensen</h1>
        <h1 class="order-detail-info-box">Sælger: Erik Eriksen</h1>
        <h1 class="order-detail-info-box">Carport ID: 1</h1>
        <h1 class="order-detail-info-box">Stykliste ID: 19</h1>
        <h1 class="order-detail-info-box">Dato: 15-09-2026</h1>
        <h1 class="order-detail-info-box">Dato: 15-09-2026</h1>
        <h1 class="order-detail-info-box">Dato: 15-09-2026</h1>
        <h1 class="order-detail-info-box">Dato: 15-09-2026</h1>
        <h1 class="order-detail-info-box">Dato: 15-09-2026</h1>
        <h1 class="order-detail-info-box">Dato: 15-09-2026</h1>
        <h1 class="order-detail-info-box">Dato: 15-09-2026</h1>
        <h1 class="order-detail-info-box">Dato: 15-09-2026</h1>


    </div>


</div>





<div th:replace="~{fragments :: adminScripts}"></div>

</body>
</html>