<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments :: adminHead('adminProfilePage')}"></head>

<body>
<div th:replace="~{fragments :: adminHeader('admin header')}"></div>


<div class="my-page-box">
    <h1 class="my-page-title">Admin side</h1>
    <div class="my-page-overview">
        <div class="my-page-overview-boxes">
            <a class="my-page-categories" id="my-page-category-customers">Alle Kunder</a>
            <a class="my-page-categories" id="my-page-category-inquiry">Alle Forespørgelser</a>
            <a class="my-page-categories" id="my-page-category-quote">Alle tilbud</a>
            <a class="my-page-categories" id="my-page-category-order">Alle ordre</a>
        </div>
        <div class="my-page-results">
            <div class="my-page-result-box">
                <div class="my-page-customer-results ">
                    <th:block th:each="customer: ${admin_customers}">
                        <a class="my-page-result-button"
                           th:href="@{/admin/customer/details/{id}(id=${customer.id})}"
                           th:text="${'ID: ' + customer.id + ' | Kunde: ' + customer.firstName + ' ' + customer.lastName}"></a>
                    </th:block>
                </div>
                <div class="my-page-inquiry-results hidden ">
                    <th:block th:each="inquiry: ${admin_inquiries}">
                        <a class="my-page-result-button" th:href="@{/admin/inquiry/details/{id}(id=${inquiry.inquiryId})}">

                            <span th:text="${'ID: ' + inquiry.inquiryId + ' | Kunde: ' + inquiry.customerResponseDTO.firstName + ' ' + inquiry.customerResponseDTO.lastName}"></span>

                            <span th:text="${inquiry.quoteSend ? 'Tilbud sendt' : ''}"
                                  th:style="${inquiry.quoteSend} ? 'color: #2e7d32; font-weight: bold;' : 'color: #d32f2f; font-weight: bold;'">
                            </span>

                        </a>
                    </th:block>
                </div>
                <div class="my-page-quote-results hidden">
                    <th:block th:each="quote: ${admin_quotes}">
                        <a class="my-page-result-button"
                           th:href="@{/admin/quote/details/{id}(id=${quote.quoteId})}"
                           style="text-decoration: none;">

                            <span th:text="${'ID: ' + quote.quoteId + ' | Kunde: ' + quote.customerResponseDTO.firstName + ' ' + quote.customerResponseDTO.lastName}"></span>

                            <span th:text="${quote.isPayed ? 'Betalt' : ''}"
                                  th:style="${quote.isPayed} ? 'color: #2e7d32; font-weight: bold;' : 'color: #d32f2f; font-weight: bold;'">
                            </span>
                        </a>
                    </th:block>
                </div>
                <div class="my-page-order-results hidden">
                    <th:block th:each="order: ${admin_orders}">
                        <a class="my-page-result-button"
                           th:href="@{/admin/order/details/{id}(id=${order.orderId})}"
                           th:text="${'ID: ' + order.orderId + ' | Kunde: ' + order.customerResponseDTO.firstName + ' ' + order.customerResponseDTO.lastName }"></a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: adminScripts}"></div>
</body>
</html>