<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head('Customer register')}"></head>
<link rel="stylesheet" href="/public/css/customer-register.css" th:href="@{/css/customer-register.css}"/>
<link rel="stylesheet" href="/public/css/general-styles.css" th:href="@{/css/general-styles.css}"/>

<body>

<h1 class="logo">Fog</h1>

<div class="box-register">
    <h1 class="welcome-message">Opret Bruger</h1>


    <form id="register-form" action="/login" method="post">

        <div class="field-group">
            <p class="input-description">EMAIL</p>
            <input class="input-box" type="text" name="email" placeholder="eg. user@example.com">
        </div>

        <div class="field-group">
            <p class="input-description">FORNAVN</p>
            <input class="input-box" type="text" name="fornavn" placeholder="eg. Jens">
        </div>

        <div class="field-group">
            <p class="input-description">EFTERNAVN</p>
            <input class="input-box" type="text" name="efternavn" placeholder="eg.Jensen">
        </div>

        <div class="field-group">
            <p class="input-description">KODEORD</p>
            <input class="input-box" type="password" name="password" placeholder="eg.1234...">
        </div>

        <div class="field-group">
            <p class="input-description">GENTAST KODEORD</p>
            <input class="input-box" type="password" name="confirmPassword" placeholder="eg.1234...">
        </div>

        <div class="field-group">
            <p class="input-description">TELEFON</p>
            <input class="input-box" type="tel" name="phone" placeholder="eg. 12345678">
        </div>

        <div class="field-group">
            <p class="input-description">ADRESSE</p>
            <input class="input-box" type="text" name="address" placeholder="eg. Hovedgaden 12">
        </div>

        <div class="field-group">
            <p class="input-description">POSTNUMMER</p>
            <input class="input-box" type="text" name="zipcode" placeholder="eg. 1550">
        </div>

        <button class="register-button" type="submit">Opret konto</button>

    </form>

    <div class="register">
        <p>Allerede oprettet?</p>
        <a th:href="@{/customerLogin}"  type="button" id="register-button" >Log ind her</a>
    </div>

</div>

</body>
</html>