<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('Customer Login')}"></head>



<body>
<a th:href="@{/}">
    <svg class="admin-return-button" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"
         fill="none">
        <path class="admin-return-svg" d="M17.3333 10.6667L8 18.6667L17.3333 28" stroke="black"
              stroke-width="9.25"
              stroke-linecap="round" stroke-linejoin="round"/>
        <path class="admin-return-svg"
              d="M8 18.6667H38.6587C47.836 18.6667 55.6293 26.16 55.9867 35.3333C56.3653 45.0267 48.356 53.3333 38.6587 53.3333H15.9973"
              stroke="black" stroke-width="9.25" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</a>
<h1 class="logo">Fog</h1>

<div class="box-login">
    <h1 class="welcome-message">Login</h1>


    <form id="login-form" th:action="@{/customer/login}" method="post">
        <p class="input-description">EMAIL</p>
        <input class="input-box" type="text" name="email" placeholder="eg. user@example.com..">
        <p class="input-description">KODEORD</p>
        <input class="input-box" type="password" name="password"  placeholder="eg.1234...">


        <button class="login-button" type="submit">Log In</button>
    </form>

    <div class="opret">
        <p>Har du ikke en bruger?</p>
        <a th:href="@{/customer/register}" class="button-box" type="button" id="register-button" >Opret dig her</a>
    </div>
    <div class="admin-login">
        <p>Skal du logge ind som admin?</p>
        <a th:href="@{/admin/login}" class="button-box" type="button" id="admin-login-button" >Log ind her</a>
    </div>

</div>

</body>
</html>