<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head('Customer Login')}"></head>


<body>

<div th:replace="~{fragments :: header}"></div>



<div class="my-page-box">
    <h1 class="my-page-title">Min side</h1>
    <div class="my-page-overview">
        <div class="my-page-overview-boxes">
            <a class="my-page-categories">Mine Forespørgelser</a>
            <a class="my-page-categories">Mine tilbud</a>
            <a class="my-page-categories">Mine ordre</a>
        </div>
        <div class="my-page-results">
            <div class="my-page-result-box">
                <div class="my-page-orders" th:href="@{/createQuote/{inquiry_id}}">Ordre #1</div>
                <div class="my-page-orders">Ordre #2</div>
                <div class="my-page-orders">Ordre #3</div>
                <div class="my-page-orders">Ordre #4</div>
                <div class="my-page-orders">Ordre #5</div>
                <div class="my-page-orders">Ordre #6</div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: scripts}"></div>
</body>
</html>