<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head('Customer Login')}"></head>


<body>

<div th:replace="~{fragments :: customerHeader('customer header')}"></div>


<div class="my-page-box">
    <h1 class="my-page-title">Min side</h1>
    <div class="my-page-overview">
        <div class="my-page-overview-boxes">
            <a class="my-page-categories" id="my-page-category-inquiry">Mine Forespørgelser</a>
            <a class="my-page-categories" id="my-page-category-quote">Mine tilbud</a>
            <a class="my-page-categories" id="my-page-category-order">Mine ordre</a>
        </div>
        <div class="my-page-results">
            <div class="my-page-result-box">
                <div class="my-page-inquiry-results " >
                    <th:block th:each="inquiry: ${customer_inquiries}">
                        <a class="my-page-result-button"
                           th:href="@{/customer/inquiry/details/{id}(id=${inquiry.inquiryId})}"
                           th:text="${'ID: ' + inquiry.inquiryId + ' | Kunde: ' + inquiry.customerResponseDTO.firstName +' '+ inquiry.customerResponseDTO.lastName}"></a>
                    </th:block>
                </div>
                <div class="my-page-quote-results hidden">
                    <th:block th:each="quote: ${customer_quotes}">
                        <a class="my-page-result-button"
                           th:href="@{/customer/quote/details/{id}(id=${quote.quoteId})}"
                           th:text="${'ID: ' + quote.quoteId + ' | Pris: ' + quote.quotePrice}"></a>
                    </th:block>
                </div>
                <div class="my-page-order-results hidden" >
                    <th:block th:each="order: ${customer_orders}">
                        <a class="my-page-result-button"
                           th:href="@{/customer/order/details/{id}(id=${order.orderId})}"
                           th:text="${'ID: ' + order.orderId + ' | Pris: ' + order.orderPrice}"></a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: customerScripts}"></div>
</body>
</html>